/Applicant.class
/Application.class
/BTOProject.class
/Enquiry.class
/Flat.class
/HDBManager.class
/HDBOfficer$RegistrationStatus.class
/HDBOfficer.class
/Registration.class
/ThreeRoom.class
/TwoRoom.class
/User.class
